/** DUX 主题用户中心集成 Erphpdown */
.user-main-property>.wrap{
    margin:20px 10px 5px;
    padding:5px;
}

.user-main-property>.wrap h2{
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    line-height: 20px;
    border-left: 5px solid #239fef;
}

/** 表单 form-table */
.user-main-property>.wrap .form-table{
    width: 100%;
    margin: 20px;
    border-collapse: collapse;
}
.user-main-property>.wrap .form-table tr{
    font-size: 16px;
    margin: 10px;
    line-height: 36px;
}
.user-main-property>.wrap .form-table td{
    padding: 0 30px;
}
.user-main-property>.wrap .form-table td input{
    padding: 0 10px;
    line-height: 24px;
    font-size: 12px;
    text-align: right;
    border: 1px solid #239fef;
    border-radius: 5px;
}
.user-main-property>.wrap .form-table td input[type=radio]{
    display: inline-block;
    vertical-align: text-top;
    font-size: 18px;
    width: 1em;
    height: 1em;
    margin-right: .5em;
    line-height: 1; 
}
.user-main-property>.wrap .form-table td input[type=submit] {
    margin: 20px 0 0;
    padding: 5px 30px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    background: #239fef;
    border: 1px solid #239fef;
    border-radius: 9px;
}
.user-main-property>.wrap .form-table td input[type=submit]:hover {
    opacity: 0.8;
}

/** 表单 widefat */
.user-main-property>.wrap>.widefat{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #239fef;
    margin: 20px 10px 0px;
}
.user-main-property>.wrap>.widefat th{
    border-collapse: collapse;
    border-right:1px solid #fff;
    border-bottom:1px solid #239fef;
    background-color:#239fef; 
    padding:5px 9px;
    color: #fff;
    font-size: 14px;
    line-height:24px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    word-break: break-all;
}

.user-main-property>.wrap>.widefat th:last-child{
    border-right:1px solid #239fef;
}
.user-main-property>.wrap>.widefat td{
    border-collapse: collapse;
    border-right:1px solid #239fef;
    border-bottom:1px solid #239fef; 
    padding:5px 9px;
    font-size:12px;
    line-height:20px;
    font-weight:normal;
    text-align:left;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}
.user-main-property>.wrap>.widefat tr:nth-child(odd){
    background-color: #fff; 
}
.user-main-property>.wrap>.widefat tr:nth-child(even){
    background-color: #f8f8f8;
}


.user-main{
    position: relative;
    min-height: 600px;
    padding: 20px 0px;
}
.user-main>font{
    margin: 20px;
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
}

.user-main>.wrap{
    margin:20px;
    padding:5px;
}

.user-main>.wrap h2{
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    line-height: 20px;
    border-left: 5px solid #239fef;
}

.user-main>.wrap>p{
    margin: 3px;
    padding: 5px;
}
.user-main>.wrap p:first-child{
    margin: 3px;
    padding: 5px;
    color: red;
    font-size: 16px;
}

.user-main>.wrap>p>textarea{
    display: block;
    margin: 20px 10px;
    padding: 5px;
    width: 100%;
    border: 1px solid #239fef;
    border-radius: 5px;
    overflow: hidden;
}

/** 表单 form-table */
.user-main>.wrap .form-table{
    width: 100%;
    margin: 20px 10px 0;
    border-collapse: collapse;
}
.user-main>.wrap .form-table tr{
    font-size: 16px;
    margin: 10px;
    line-height: 36px;
}
.user-main>.wrap .form-table td{
    padding: 0 30px;
}
.user-main>.wrap .form-table td input{
    padding: 0 10px;
    line-height: 24px;
    font-size: 12px;
    text-align: right;
    border: 1px solid #239fef;
    border-radius: 5px;
}
.user-main>.wrap .form-table td input[type=radio]{
    display: inline-block;
    vertical-align: text-top;
    font-size: 18px;
    width: 1em;
    height: 1em;
    margin-right: .5em;
    line-height: 1; 
}
.user-main>.wrap form p{
    margin: 10px;	
}
.user-main>.wrap form input[type=submit] {
    padding: 5px 30px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    background: #239fef;
    border: 1px solid #239fef;
    border-radius: 9px;
}
.user-main>.wrap form input[type=submit]:hover {
    opacity: 0.8;
}

/** 表单 widefat */
.user-main>.wrap>.widefat{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #239fef;
    margin: 20px 10px 0px;
}
.user-main>.wrap>.widefat th{
    border-collapse: collapse;
    border-right:1px solid #fff;
    border-bottom:1px solid #239fef;
    background-color:#239fef; 
    padding:5px 9px;
    color: #fff;
    font-size: 14px;
    line-height:24px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    word-break: break-all;
}

.user-main>.wrap>.widefat th:last-child{
    border-right:1px solid #239fef;
}
.user-main>.wrap>.widefat td{
    border-collapse: collapse;
    border-right:1px solid #239fef;
    border-bottom:1px solid #239fef; 
    padding:5px 9px;
    font-size:12px;
    line-height:20px;
    font-weight:normal;
    text-align:left;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}
.user-main>.wrap>.widefat tr:nth-child(odd){
    background-color: #fff; 
}
.user-main>.wrap>.widefat tr:nth-child(even){
    background-color: #f8f8f8;
}